<section id="contacto" class="section-spacing">
        <div class="container">
            <div class="section-header">
                <h2 data-es="Conectemos" data-en="Let's Connect">Conectemos</h2>
                <div class="header-underline"></div>
            </div>
            <div class="row">
                <div class="col-lg-6 mx-auto">
                    <p class="lead text-center mb-5" data-es="¿Buscas un desarrollador junior comprometido y disponible inmediatamente? Contactame a través del formulario o conectemos por plataformas como LinkedIn, GitHub o correo electrónico." data-en="Have an interesting project? I'd love to hear about it. Fill out the form or connect with me through these platforms:">
                        ¿Buscas un desarrollador junior comprometido y disponible inmediatamente? Contactame a través del formulario o conectemos por plataformas como LinkedIn, GitHub o correo electrónico.
                    </p>

                    <form id="contactForm" class="contact-form mb-5">
                        <div class="mb-3">
                            <label style="color: var(--text-light);" for="name" class="form-label" data-es="Nombre completo" data-en="Full Name">Nombre completo</label>
                            <input type="text" class="form-control" id="name" required placeholder="Juan Pérez">
                        </div>
                        <div class="mb-3">
                            <label 
                            style="color: var(--text-light);"for="email" class="form-label" data-es="Email" data-en="Email">Email</label>
                            <input type="email" class="form-control" id="email" required placeholder = "@email.com">
                        </div>
                        <div class="mb-3">
                            <label style="color: var(--text-light);" for="subject" class="form-label" data-es="Asunto" data-en="Subject">Asunto</label>
                            <input type="text" class="form-control" id="subject" required placeholder="My project web...">
                        </div>
                        <div class="mb-3">
                            <label style="color: var(--text-light);" for="message" class="form-label" data-es="Mensaje" data-en="Message">Mensaje</label>
                            <textarea class="form-control" id="message" rows="5" required placeholder="Tell about your project..."></textarea>
                        </div>
                        <button type="submit" class="btn btn-gradient w-100" data-es="Enviar Mensaje" data-en="Send Message">Enviar Mensaje</button>
                    </form>
                </div>
            </div>
        </div>
    </section>