<nav class="navbar navbar-expand-lg fixed-top">
        <div class="container">
            <a class="navbar-brand" href="#inicio">
                <div class="brand-logo">
                    <span class="brand-initials">DN</span>
                </div>
                <span class="brand-name">Didier Najas</span>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item"><a class="nav-link" href="#sobre-mi" data-es="Sobre mí" data-en="About">Sobre mí</a></li>
                    <li class="nav-item"><a class="nav-link" href="#habilidades" data-es="Habilidades" data-en="Skills">Habilidades</a></li>
                    <li class="nav-item"><a class="nav-link" href="#proyectos" data-es="Proyectos" data-en="Projects">Proyectos</a></li>
                    <li class="nav-item"><a class="nav-link" href="#contacto" data-es="Contacto" data-en="Contact">Contacto</a></li>
                    <li class="nav-item ms-3">
                        <div class="nav-controls">
                            <button id="theme-toggle" class="btn-control" title="Toggle dark/light mode">
                                <i class="fas fa-moon"></i>
                            </button>
                            <button id="lang-toggle" class="btn-control" title="Toggle language">
                                <span>ES</span> / <span style="opacity: 0.5;">EN</span>
                            </button>
                            <a href="/img/CV Didier Najas.pdf" class="btn-control ms-2 download" download title="Descargar mi CV" data-en="Download my CV" data-es="Descargar mi CV">
                                <i class="fas fa-download"></i>

                            </a>
                            <a href="img/Curriculum Didier Najas.pdf" class="btn-control ms-2 download" download title="Descargar mi CV" data-en="Download my Curriculum" data-es="Descargar mi Curriculum">
                                <i class="fas fa-download"></i>

                            </a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>